<h1 mat-dialog-title [translate]="'transfer.registerTransfer'"></h1>
<div mat-dialog-content class="position-dialog">
    <div>
        <mat-form-field>
            <input matInput required RemoveZero Mask="^\d*\.?\d{0,2}$" type="text"
                placeholder="{{ 'check.amount' | translate }}" [(ngModel)]="amount">
        </mat-form-field>

        <div *ngIf="!isDebtMode">
            <mat-form-field>
                <input matInput #userInput placeholder="{{ 'check.searchUser' | translate }}" [matAutocomplete]="auto"
                    [formControl]="searchUserCtrl" (ngModelChange)="onUserInputTextChange($event)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectedUser($event)">
                    <mat-option class="is-loading" *ngIf="isLoading" [disabled]="true">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user">
                            <span>{{user.username}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <br>
            <ng-container *ngIf="errorMsg">
                {{errorMsg}}
            </ng-container>

            <mat-form-field>
                <mat-label [translate]="'transfer.description'"></mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    [(ngModel)]="description"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
        <span [translate]="'common.cancel'"></span>
    </button>
    <button mat-button (click)="doAction()" mat-flat-button [disabled]="!canRegister()">
        <span [translate]="'transfer.register'"></span>
    </button>
</div>