<h1 mat-dialog-title>Перевод</h1>
<div mat-dialog-content class="position-dialog">
    <div>
        <mat-form-field>
            <input matInput required RemoveZero Mask="^\d*\.?\d{0,2}$" type="text" placeholder="Сумма"
                [(ngModel)]="amount">
        </mat-form-field>

        <div *ngIf="!isDebtMode">
            <search-user-control (userSelected)="selectedUser($event)">
            </search-user-control>

            <mat-form-field>
                <mat-label>Описание</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    [(ngModel)]="description"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
        <span>Отмена</span>
    </button>
    <button mat-button (click)="doAction()" mat-flat-button [disabled]="!canRegister()">
        <span>ОК</span>
    </button>
</div>