.login-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: green; */
    background-image: url('src/assets/images/gradient-1.jpg');
}

.login-form {
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 55px 34px 55px;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 19px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    position: relative;
}

.m-b-23 {
    margin-bottom: 23px;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    padding-left: 7px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 43px;
    outline: none;
    border: none;
    opacity: 0.6;
}

.user-password-icon {
    float: left;
    margin-top: -34px;
    margin-left: 14px;
    opacity: 0.6;
    position: relative;
    z-index: 2;
}

.text-right {
    text-align: right!important;
    padding-bottom: 31px;
    padding-top: 8px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
}

.p-t-8 {
    padding-top: 8px;
}

.p-b-31 {
    padding-bottom: 31px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -o-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -ms-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
}

.btn {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.btn:hover {
    background-position: right center;
}
  
.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #4ff3e8 0%, #646cfb 51%, #4ff3e8 100%);
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.text-center {
    text-align: center!important;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-54 {
    padding-top: 54px;
}

.oauth-refs-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#telegram-login-widget {
    display: flex;
    justify-content: center;
}

#vk-login-widget {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.auth-failed-div {
    widows: 100%;
}

.hello-wrap {
    text-align: center;
    margin-top: 2vh;
}

.hello-wrap h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.hello-wrap img {
    transform: translateY(-20px);
    width: 100%;
}