<fieldset [disabled]="action == 'View'">

  <h1 mat-dialog-title *ngIf="action == 'Add'">Добавить Позицию</h1>
  <h1 mat-dialog-title *ngIf="action == 'Edit'">Редактировать Позицию</h1>
  <h1 mat-dialog-title *ngIf="action == 'Delete'">Удалить Позицию</h1>
  <div mat-dialog-content class="position-dialog">
    <div *ngIf="action != 'Delete'; else elseTemplate">
      <mat-form-field>
        <input placeholder="Название" required matInput [(ngModel)]="position.title">
      </mat-form-field>
      <div class="flex-h-space-between">
        <mat-form-field [ngClass]="position.applyDiscount ? 'w-48' : 'w-100'">
          <input matInput RemoveZero Mask="^\d*\.?\d{0,2}$" type="text" required
            placeholder="Сумма" [(ngModel)]="position.amountWithoutDiscount"
            [disabled]="!equalConsumptions" (change)="onAmountWithoutDiscountChanged()">
        </mat-form-field>
        <mat-form-field *ngIf="showDiscountControls() && !!position.applyDiscount" class="w-48">
          <input matInput placeholder="Со скидкой" [(ngModel)]="position.amount" [disabled]="true">
        </mat-form-field>
      </div>

      <div class="equal-consumptions-block">
        <mat-checkbox [(ngModel)]="equalConsumptions" (change)="equalConsumptionsValueChanged($event)"
          [disabled]="action == 'View'">
          <span>Равные доли</span>
        </mat-checkbox>

        <button mat-button (click)="openConsumptions()" [hidden]="equalConsumptions" onclick="this.blur()"
          [disabled]="action == 'View'">
          <mat-icon mat-list-icon class='process-check-icon'>open_in_new</mat-icon>
        </button>
      </div>

      <div>
        <mat-form-field>
          <mat-chip-list #chipList [disabled]="!equalConsumptions">
            <mat-chip *ngFor="let consumption of position.consumptions" [selectable]="true"
              [removable]="true" (removed)="removeConsumption(consumption)">
              {{consumption.user.username}} - {{consumption.amount}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input matInput #usersInput placeholder="Поиск людей..." aria-label="State"
              [matAutocomplete]="auto" [formControl]="searchUserCtrl" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelected($event)">
            <mat-option class="is-loading" *ngIf="isLoading" [disabled]="true">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
                <span>{{user.username}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <ng-container *ngIf="errorMsg">
          {{errorMsg}}
        </ng-container>
      </div>

      <mat-checkbox *ngIf="showDiscountControls()" [(ngModel)]="position.applyDiscount"
        (change)="applyDiscountValueChanged($event)" [disabled]="action == 'View'">
        <span>Применить скидку</span>
      </mat-checkbox>

    </div>

    <ng-template #elseTemplate>
      <span>Вы уверены, что хотите удалить</span> <b> {{position.title}}</b>?
    </ng-template>
  </div>

</fieldset>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    <span>Отмена</span>
  </button>
  <button mat-button (click)="doAction()" [hidden]="action == 'View'" [disabled]="!canBeCreated()">OK</button>
</div>