@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.tickets-theme {
    color: $light-primary-text;
    $tickets-primary: mat-palette($mat-purple);
    $tickets-accent: mat-palette($mat-pink, A200, A100, A400);
    $tickets-warn: mat-palette($mat-red);
    $tickets-theme: mat-light-theme($tickets-primary, $tickets-accent, $tickets-warn);
  
    @include angular-material-theme($tickets-theme);
}