<h1 mat-dialog-title *ngIf="action == 'Add'" [translate]="'check.addPayment'"></h1>
<h1 mat-dialog-title *ngIf="action == 'Edit'" [translate]="'check.editPayment'"></h1>
<h1 mat-dialog-title *ngIf="action == 'Delete'" [translate]="'check.deletePayment'"></h1>
<div mat-dialog-content class="position-dialog">
    <div *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field>
            <input matInput required Mask="^\d*\.?\d{0,2}$" type="number" placeholder="{{ 'check.amount' | translate }}"
                [readonly]="action == 'View'" [(ngModel)]="payment.amount">
        </mat-form-field>

        <div>
            <mat-form-field>
                <input matInput #userInput placeholder="{{ 'check.searchUser' | translate }}" [matAutocomplete]="auto" [formControl]="searchUserCtrl"
                    (ngModelChange)="onUserInputTextChange($event)" [readonly]="action == 'View'">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectedUser($event)">
                    <mat-option class="is-loading" *ngIf="isLoading" [disabled]="true">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user">
                            <span>{{user.username}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <br>
            <ng-container *ngIf="errorMsg">
                {{errorMsg}}
            </ng-container>
        </div>

    </div>
    <ng-template #elseTemplate>
        Sure to delete payment with user «<b>{{payment.user.username}}</b>» and amount «<b>{{payment.amount}}</b>»?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
        <span [translate]="'common.cancel'"></span>
    </button>
    <button mat-button (click)="doAction()" [hidden]="action == 'View'" [disabled]="!canBeCreated()">OK</button>
</div>