<mat-card class="content-card">
  <mat-card-header>
    <div class='flex-h-space-between header-row' style="height: 42px;">
      <div class='flex-v-center'>
        <mat-card-title *ngIf="mode == 'creating'" [translate]="'check.checkCreating'"></mat-card-title>
        <mat-card-title *ngIf="mode == 'editing'" [translate]="'check.check'"></mat-card-title>
        <span class="status ml-3" *ngIf="check.id"
          [ngClass]="check.state == CHECK_STATE.PROCESSED ? 'processed-status' : 'in-work-status'">
          {{getCurrentStatus()}}
        </span>
      </div>
      <button *ngIf="canProcess()" class="process-check-button" mat-button (click)="handleProcessCheckClick()"
        mat-flat-button matTooltip="{{ 'check.caclulateDebts' | translate }}">
        <mat-icon mat-list-icon color="primary" class='process-check-icon'>refresh</mat-icon>
        <span [translate]="'check.process'" class="process"></span>
      </button>
      <button *ngIf="canRollback()" class="rollback-check-button" mat-button (click)="rollbackCheck()" mat-flat-button>
        <mat-icon mat-list-icon class='process-check-icon'>cancel</mat-icon>
        <span [translate]="'check.rollback'"></span>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="w-100">
      <input matInput [(ngModel)]="check.title" placeholder="{{ 'check.title' | translate }}"
        [formControl]="titleFormControl" [errorStateMatcher]="matcher" [readonly]="!canEdit()">
      <mat-error *ngIf="titleFormControl.hasError('required')" [translate]="'common.fieldRequired'">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="mode == 'editing'">
      <input matInput placeholder="{{ 'check.createdAt' | translate }}"
        value="{{check.createdAt | date:'dd.MM.yyyy HH:mm'}}" [readonly]="true">
    </mat-form-field>

    <!-- Discount -->
    <mat-card class="discount-card">
      <div class="w-100 flex discount-wrap">
        <mat-checkbox (change)="onDiscountApplyChange($event)" [(ngModel)]="check.discount.apply" class="discount-check"
          [disabled]="!canEdit()">
          <span [translate]="'check.discount.discount'"></span>
        </mat-checkbox>

        <mat-radio-group (change)="onDiscountTypeChange($event)" class="discount-type"
          [disabled]="!check.discount.apply || !canEdit()">
          <mat-radio-button value="0" [checked]="check.discount.type == 0">
            <span>
              <span [translate]="'check.discount.percent'"></span>
            </span>
          </mat-radio-button>
          <mat-radio-button value="1" [checked]="check.discount.type == 1">
            <span [translate]="'check.discount.rubles'"></span>
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="discount-checkbox">
          <input matInput RemoveZero type="number" (change)="onDiscountValueChange($event)"
            [placeholder]="'check.discount.value' | translate" [disabled]="!check.discount.apply || !canEdit()"
            [(ngModel)]="check.discount.value" (blur)="onBlurMethod($event)">
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Position table -->
    <div class="container positions-block">
      <div class="flex-h-space-between">
        <div class="flex header-label-wrap">
          <mat-icon mat-list-icon color="primary">reorder</mat-icon>
          <mat-card-title class="positions-label" [translate]="'check.positions'"></mat-card-title>
        </div>
        <button class="add-row-button" mat-button (click)="openPositionCard('Add',{})" mat-flat-button color="primary"
          matTooltip="{{ 'check.addPosition' | translate }}" [hidden]="!canEdit()">
          + <span [translate]="'check.position'"></span>
        </button>
      </div>
      <div class="mat-elevation-z5" *ngIf="this.check.positions.length != 0">

        <table mat-table [dataSource]="positionsDataSource" matSort>

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'check.title'"></span>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            <td mat-footer-cell *matFooterCellDef [translate]="'check.amount'"></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'check.amount'"></span>
            </th>
            <td mat-cell *matCellDef="let position"> {{position.amount}} </td>
            <td mat-footer-cell *matFooterCellDef><b>{{getPositionsTotalAmount()}}</b></td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let position" class="row-actions-td">
              <div class="row-action-buttons" (click)="$event.stopPropagation()">
                <button class="row-remove-button" mat-icon-button (click)="openPositionCard('Delete', position)"
                  onclick="this.blur()" matTooltip="{{ 'check.deletePosition' | translate }}">
                  <mat-icon class="red">delete</mat-icon>
                </button>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="positionsDisplayedColumns" style="display: none;"></tr>
          <tr mat-row *matRowDef="let position; columns: positionsDisplayedColumns;"
            (click)="openPositionCard(canEdit() ? 'Edit' : 'View',position)">
          </tr>
          <tr mat-footer-row *matFooterRowDef="positionsDisplayedColumns"></tr>
        </table>

      </div>
    </div>

    <!-- Payments table -->
    <div class="container payments-block">
      <div class="flex-h-space-between">
        <div class="flex header-label-wrap">
          <mat-icon mat-list-icon color="primary">reorder</mat-icon>
          <mat-card-title class="positions-label" [translate]="'check.payments'"></mat-card-title>
        </div>
        <button class="add-row-button" mat-button (click)="openPaymentCard('Add',{})" mat-flat-button color="primary"
          matTooltip="{{ 'check.addPayment' | translate }}" [hidden]="!canEdit()">
          + <span [translate]="'check.payment'"></span>
        </button>
      </div>
      <div class="mat-elevation-z5" *ngIf="this.check.payments.length != 0">

        <table mat-table [dataSource]="paymentsDataSource" matSort>

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'check.user'"></span>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.user.username}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [translate]="'check.amount'"></span>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item" class="row-actions-td">
              <div class="row-action-buttons" (click)="$event.stopPropagation()">
                <button class="row-edit-button" mat-icon-button (click)="openPaymentCard('Edit', item)"
                  onclick="this.blur()" matTooltip="{{ 'check.editPayment' | translate }}">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="row-remove-button" mat-icon-button (click)="openPaymentCard('Delete', item)"
                  onclick="this.blur()" matTooltip="{{ 'check.deletePayment' | translate }}">
                  <mat-icon class="red">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentsDisplayedColumns;" style="display: none;"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;" (click)="openPaymentCard('View', row)">
          </tr>
        </table>

      </div>
    </div>

  </mat-card-content>

  <mat-card-actions class="create-check-btn-wrap">
    <button mat-button *ngIf="mode == 'creating' && !check.id" (click)="createCheck()">
      <span [translate]="'check.create'"></span>
    </button>
    <button mat-button *ngIf="check.id && canEdit()" (click)="handleUpdateCheckClick()">
      <span [translate]="'check.save'"></span>
    </button>
  </mat-card-actions>
</mat-card>