<h1 mat-dialog-title *ngIf="action == 'Add'">Добавить Платеж</h1>
<h1 mat-dialog-title *ngIf="action == 'Edit'">Редактировать Платеж</h1>
<h1 mat-dialog-title *ngIf="action == 'Delete'">Удалить Платеж</h1>
<div mat-dialog-content class="position-dialog">
    <div *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field>
            <input matInput required Mask="^\d*\.?\d{0,2}$" type="text" placeholder="Сумма"
                [readonly]="action == 'View'" [(ngModel)]="payment.amount">
        </mat-form-field>

        <search-user-control #searchUserControl [readonly]="action == 'View'" (userSelected)="selectedUser($event)">
        </search-user-control>

    </div>
    <ng-template #elseTemplate>
        Вы уверены, что хотите удалить платеж пользователя «<b>{{payment.user.username}}</b>» на сумму «<b>{{payment.amount}}</b>»?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
        <span>Отмена</span>
    </button>
    <button mat-button (click)="doAction()" [hidden]="action == 'View'" [disabled]="!canBeCreated()">OK</button>
</div>