<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()" [scrollWindow]="false" *ngIf="!noRecords">
    <div *ngFor="let record of records">
        <mat-card class="record-wrap" *ngIf="record.type == 'check_processed'">
            <mat-card-content>
                <div class="record-header">
                    <h2><b [translate]="'tape.checkProcessed'"></b></h2>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span>{{ record.date | date:'dd.MM.yyyy H:mm' }}</span>
                </div>
                <div class="checktitle-amount-div">
                    <div class="check-title-div">
                        <span [translate]="'check.title'"></span>:&nbsp;<span>{{ record.data.check.title }}</span> <br>
                    </div>
                    <div class="amount-checkref-div">
                        <div class="amount"
                            [ngClass]="record.data.balanceDiff > '0' ? 'positive-amount-color' : 'negative-amount-color'">
                            {{ record.data.balanceDiff }}
                        </div>
                        <mat-icon class="font-large" (click)="openCheck(record.data.check.id)"
                            matTooltip="{{ 'openCheck' | translate }}">more_horiz</mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="record-wrap" *ngIf="record.type == 'transfer_registered'">
            <mat-card-content>
                <div class="record-header">
                    <h2><b [translate]="'tape.transfer'"></b></h2>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span>{{ record.date | date:'dd.MM.yyyy H:mm' }}</span>
                </div>
                <div class="users-amount-div">
                    <div class="sender-recipient-div">
                        <div><span [translate]="'tape.sender'"></span><span>:
                                {{ record.data.sender.username }}</span><br></div>
                        <div><span [translate]="'tape.recipient'"></span><span>:
                                {{ record.data.recipient.username }}</span><br></div>
                        <div *ngIf="!!record.data.description">
                            <span [translate]="'transfer.description'"></span><span>:
                                {{ record.data.description }}</span>
                        </div>
                    </div>
                    <div class="amount"
                        [ngClass]="record.data.sender.id == currentUserId ? 'positive-amount-color' : 'negative-amount-color'">
                        {{ record.data.amount }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="record-wrap" *ngIf="record.type == 'debt_is_forgiven'">
            <mat-card-content>
                <div class="record-header">
                    <h2><b [translate]="'tape.debtRepaid'"></b></h2>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span>{{ record.date | date:'dd.MM.yyyy H:mm' }}</span>
                </div>
                <div class="users-amount-div">
                    <div class="sender-recipient-div">
                        <div><span [translate]="'tape.creditor'"></span><span>:
                                {{ record.data.creditor.username }}</span><br></div>
                        <div><span [translate]="'tape.debtor'"></span><span>:
                                {{ record.data.debtor.username }}</span><br></div>
                        <div *ngIf="!!record.data.description">
                            <span [translate]="'transfer.description'"></span><span>:
                                {{ record.data.description }}</span>
                        </div>
                    </div>
                    <div class="amount"
                        [ngClass]="record.data.creditor.id == currentUserId ? 'positive-amount-color' : 'negative-amount-color'">
                        {{ record.data.amount }}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="record-wrap" *ngIf="record.type == 'check_rolled_back'">
            <mat-card-content>
                <div class="record-header">
                    <h2><b [translate]="'tape.checkRolledBack'"></b></h2>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span>{{ record.date | date:'dd.MM.yyyy H:mm' }}</span>
                </div>
                <div class="checktitle-amount-div">
                    <div class="check-title-div">
                        <span [translate]="'check.title'"></span>:&nbsp;
                        <span>{{ record.data.check.title }}</span> <br>
                    </div>
                    <div class="amount-checkref-div">
                        <div class="amount"
                            [ngClass]="record.data.balanceDiff > '0' ? 'positive-amount-color' : 'negative-amount-color'">
                            {{ record.data.balanceDiff }}
                        </div>
                        <mat-icon class="font-large" (click)="openCheck(record.data.check.id)"
                            matTooltip="{{ 'openCheck' | translate }}">more_horiz</mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-12 p-5" *ngIf="isLoading">
        <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#3f51b5" type="ball-beat" [fullScreen]="false">
        </ngx-spinner>
    </div>
</div>

<div class="no-tape-wrap" *ngIf="noRecords">
    <h1 [translate]="'tape.noRecords'"></h1>
    <img src="assets/images/empty-tape.jpeg">
</div>