<h1 mat-dialog-title>Register transfer</h1>
<div mat-dialog-content class="position-dialog">
    <div>
        <mat-form-field>
            <input matInput required DigitOnly="true" type="text" placeholder="Amount"
                [(ngModel)]="amount">
        </mat-form-field>

        <div *ngIf="!isDebtMode">
            <mat-form-field>
                <input matInput #userInput placeholder="Search" [matAutocomplete]="auto" [formControl]="searchUserCtrl"
                    (ngModelChange)="onUserInputTextChange($event)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectedUser($event)">
                    <mat-option class="is-loading" *ngIf="isLoading" [disabled]="true">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user">
                            <span>{{user.username}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <br>
            <ng-container *ngIf="errorMsg">
                {{errorMsg}}
            </ng-container>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    <button mat-button (click)="doAction()" mat-flat-button [disabled]="!canRegister()">Register</button>
</div>