<mat-card class="content-card">
  <mat-card-header>
    <div class='flex-h-space-between header-row'>
      <mat-card-title *ngIf="!editingMode">Check creating</mat-card-title>
      <mat-card-title *ngIf="editingMode">Check editing</mat-card-title>
      <button *ngIf="canBeProcessed" class="process-check-button" mat-button (click)="processCheck()" mat-flat-button>
        <mat-icon mat-list-icon color="primary" class='process-check-icon'>refresh</mat-icon>
        Process check
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="check-title-input">
      <input matInput [(ngModel)]="check.title" placeholder="Title" [formControl]="titleFormControl"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Position table -->
    <div class="container positions-block">
      <div class="flex">
        <mat-icon mat-list-icon color="primary">reorder</mat-icon>
        <mat-card-title class="positions-label">Positions</mat-card-title>
      </div>
      <div class="flex-h-space-between">
        <mat-form-field>
          <input matInput (keyup)="applyPositionsFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button class="add-row-button" mat-button (click)="openPositionCard('Add',{})" mat-flat-button color="primary">
          Add Position
        </button>
      </div>
      <div class="mat-elevation-z5">

        <table mat-table [dataSource]="positionsDataSource" matSort>

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item" class="row-actions-td">
              <div class="row-action-buttons" (click)="$event.stopPropagation()">
                <button class="row-edit-button" mat-icon-button (click)="openPositionCard('Edit', item)"
                  onclick="this.blur()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="row-remove-button" mat-icon-button (click)="openPositionCard('Delete', item)"
                  onclick="this.blur()">
                  <mat-icon class="red">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="positionsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: positionsDisplayedColumns;" (click)="openPositionCard('View',row)">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <!-- Payments table -->
    <div class="container payments-block">
      <div class="flex">
        <mat-icon mat-list-icon color="primary">reorder</mat-icon>
        <mat-card-title class="positions-label">Payments</mat-card-title>
      </div>
      <div class="flex-h-space-between">
        <mat-form-field>
          <input matInput (keyup)="applyPaymentsFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button class="add-row-button" mat-button (click)="openPaymentCard('Add',{})" mat-flat-button color="primary">
          Add Payment
        </button>
      </div>
      <div class="mat-elevation-z5">

        <table mat-table [dataSource]="paymentsDataSource" matSort>

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.user.username}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item" class="row-actions-td">
              <div class="row-action-buttons" (click)="$event.stopPropagation()">
                <button class="row-edit-button" mat-icon-button (click)="openPaymentCard('Edit', item)"
                  onclick="this.blur()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="row-remove-button" mat-icon-button (click)="openPaymentCard('Delete', item)"
                  onclick="this.blur()">
                  <mat-icon class="red">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;" (click)="openPaymentCard('View', row)">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions class="create-check-btn-wrap">
    <button mat-button [disabled]="!canBeCreated()" *ngIf="!editingMode" (click)="createCheck()">CREATE</button>
    <button mat-button [disabled]="!canBeCreated()" *ngIf="editingMode" (click)="updateCheck()">EDIT</button>
  </mat-card-actions>
</mat-card>