@import "../node_modules/ng2-slim-loading-bar/style.css";

body {
    display: flex;
    justify-content: center;
}

#body-content {
    width: 100%;
}

.form-control, button, label {
    font-size: initial !important;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(src/assets/fonts/poppins/Poppins-Bold.otf) format("opentype");
}

@font-face {
    font-family: Poppins-Regular;
    src: url(src/assets/fonts/poppins/Poppins-Regular.otf) format("opentype");
}

@font-face {
    font-family: Poppins-Medium;
    src: url(src/assets/fonts/poppins/Poppins-Medium.otf) format("opentype");
}