@import "../node_modules/ng2-slim-loading-bar/style.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    display: flex;
    justify-content: center;
}

#body-content {
    width: 100%;
}

.form-control, button, label {
    font-size: initial !important;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(src/assets/fonts/poppins/Poppins-Bold.otf) format("opentype");
}

@font-face {
    font-family: Poppins-Regular;
    src: url(src/assets/fonts/poppins/Poppins-Regular.otf) format("opentype");
}

@font-face {
    font-family: Poppins-Medium;
    src: url(src/assets/fonts/poppins/Poppins-Medium.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:focus {
    outline: none !important;
    border: 0 !important;
}

.mat-form-field .mat-error {
    font-size: 12px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.6375em 0;
}

.material-icons.red { color: red; }

.mat-dialog-content {
    font-size: 14px;
}

.flex {
    display: flex;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.flex-h-space-between {
    display: flex;
    justify-content: space-between;
}

.mat-snack-bar-container {
    width: auto;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    max-width: initial !important;
    min-width: initial !important;
 }

 .position-dialog .mat-form-field-wrapper {
    width: 320px;
}

.account-actions-menu {
    width: 150px;
}