<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="check/create" class="nav-link" routerLinkActive="active">
                    Create check
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="checks" class="nav-link" routerLinkActive="active">
                    Checks
                </a>
            </li>
        </ul>
    </div>
</nav>