<mat-card class="content-card">
  <mat-card-header>
    <div class="flex-h-space-between header-row" style="height: 42px">
      <div class="flex-v-center">
        <mat-card-title *ngIf="mode == 'creating'"
          >Создание задачи</mat-card-title
        >
        <div *ngIf="mode == 'editing'" class="flex-v-center">
          <mat-icon
            *ngIf="ticket.deadlineViolation"
            mat-list-icon
            class="red"
            matTooltip="Задача просрочена"
            (click)="tooltip.toggle()"
            #tooltip="matTooltip"
            >error_outline</mat-icon
          >
          <mat-card-title>Задача</mat-card-title>
          <span
            class="status ml-3"
            *ngIf="ticket.id"
            [ngClass]="getStatusBadgeClassName()"
          >
            {{ ticketStatusLabel.get(ticket.statusKey) }}
          </span>
        </div>
      </div>
      <button
        class="action-button assign-ticket-button"
        mat-button
        (click)="moveToStatus(TICKET_STATUS.Assigned)"
        mat-flat-button
        matTooltip="Назначить задачу на исполнителей"
        *ngIf="ticket.canAssign"
      >
        <span>Назначить</span>
      </button>

      <button
        [matMenuTriggerFor]="dropdownMenu"
        class="action-button drop-down-button"
        mat-button
        mat-flat-button
        matTooltip="Доступные действия со статусом задачи"
        *ngIf="ticket.canApplyExecutionUnitResult"
      >
        <span>Действия</span>
        <mat-icon class=" white">expand_more</mat-icon>
      </button>

      <button
        #closeButton
        class="action-button close-ticket-button"
        mat-button
        (click)="moveToStatus(TICKET_STATUS.Closed)"
        mat-flat-button
        matTooltip="Закрыть задачу"
        *ngIf="ticket.canClose && !ticket.canApplyExecutionUnitResult"
      >
        <span>Закрыть</span>
      </button>

      <button
        class="action-button reopen-ticket-button"
        mat-button
        (click)="moveToStatus(TICKET_STATUS.New)"
        mat-flat-button
        matTooltip="Переоткрыть задачу"
        *ngIf="ticket.canReopen"
      >
        <span>Переоткрыть</span>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <fieldset [disabled]="!canEdit()">
      <mat-form-field class="w-100">
        <input
          matInput
          required
          [(ngModel)]="ticket.title"
          placeholder="Название"
          [formControl]="titleFormControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="titleFormControl.hasError('required')"
          >Поле заполни э</mat-error
        >
      </mat-form-field>

      <div class="created-block" *ngIf="mode == 'editing'">
        <mat-form-field class="w-100">
          <input
            matInput
            value="{{ ticket.authorUserName }}"
            placeholder="Создатель"
            [disabled]="true"
          />
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Дата создания"
            value="{{ ticket.createdDate | date: 'dd.MM.yyyy HH:mm' }}"
            [disabled]="true"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-100">
          <mat-chip-list #chipList required [disabled]="!canEdit()">
            <mat-chip
              *ngFor="let unit of ticket.executionUnits"
              [selectable]="true"
              [removable]="true"
              (removed)="removeExecutionUnit(unit)"
            >
              {{ unit.assignee.username }}
              <mat-icon *ngIf="unit.result == EXECUTION_UNIT_RESULT.Completed" class="green">done</mat-icon>
              <mat-icon *ngIf="unit.result == EXECUTION_UNIT_RESULT.Declined" class="red">clear</mat-icon>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              matInput
              #usersInput
              placeholder="Исполнители"
              aria-label="State"
              [matAutocomplete]="auto"
              [formControl]="searchUserFromControl"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onUserSelected($event)"
          >
            <mat-option class="is-loading" *ngIf="isLoading" [disabled]="true">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
                <span>{{ user.username }}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <br />
        <ng-container *ngIf="errorMsg">
          {{ errorMsg }}
        </ng-container>
      </div>

      <mat-form-field class="w-100">
        <input
          class="deadline-input"
          matInput
          placeholder="Крайний срок"
          value="{{ ticket.deadline | date: 'dd.MM.yyyy HH:mm' }}"
          [readonly]="true"
        />
        <input
          [(ngModel)]="ticket.deadline"
          matInput
          [ngxMatDatetimePicker]="picker"
          [hidden]="true"
          placeholder="Крайний срок"
          [min]="todayDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSeconds]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field class="w-100">
        <textarea
          matInput
          [(ngModel)]="ticket.description"
          placeholder="Описание"
        ></textarea>
      </mat-form-field>
    </fieldset>
  </mat-card-content>

  <mat-card-actions class="create-ticket-btn-wrap">
    <button
      mat-button
      *ngIf="mode == 'creating' && !ticket.id"
      (click)="createTicket()"
    >
      <span>СОЗДАТЬ</span>
    </button>
    <button mat-button *ngIf="ticket.id && canEdit()" (click)="updateTicket()">
      <span>СОХРАНИТЬ</span>
    </button>
  </mat-card-actions>
</mat-card>

<mat-menu #dropdownMenu x-position="before">
  <a mat-menu-item *ngIf="ticket.canClose">
    <button
      class="action-button close-ticket-button w-100"
      mat-button
      (click)="moveToStatus(TICKET_STATUS.Closed)"
      mat-flat-button
      matTooltip="Закрыть задачу"
    >
      <span>Закрыть</span>
    </button>
  </a>
  <a mat-menu-item *ngIf="ticket.canApplyExecutionUnitResult">
    <button
      class="action-button execution-unit-complete-button w-100"
      mat-button
      (click)="complete()"
      mat-flat-button
      matTooltip="Пометить как выполненную"
    >
      <span>Выполнена</span>
    </button>
  </a>

  <a mat-menu-item *ngIf="ticket.canApplyExecutionUnitResult">
    <button
      class="action-button execution-unit-decline-button w-100"
      mat-button
      (click)="decline()"
      mat-flat-button
      matTooltip="Пометить как выполненную"
    >
      <span>Отклонить</span>
    </button>
  </a>

</mat-menu>
